#!/usr/bin/env zsh

# Run tests
test() {
    go test ./...
}

#-----------#
#  Helpers  #
#-----------#

# Formatter
fmt() {
    go fmt ./...
}

## Run linter (ref: https://golangci-lint.run)
lint() {
    golangci-lint run
}

#---------#
#  Mocks  #
#---------#

# Generate mock-files
mock-gen() {
    mockery --log-level=""
}

# Clean generated mock files
mock-clean() {
    find -name .mock -print -exec rm -r {} +
}